@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);

body {
	background: black;
	color: #8ad815;
	font-family: 'Roboto mono', monospace;
}

h1 {
	display: flex;
}

h1::before {
	content: '>';
	margin-right: 2rem;
}